* {
  /* box-sizing: border-box;
  border: 2px solid red; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 10px;
}

.header {
  display: flex;
  justify-content: center;
}

.links {
  color: #007bff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.button {
  text-align: center;
  /** width: 300px; **/
  /** inline-size: 300px; **/
  height: 25px;
  /** block-size: 25px; **/
  padding: 5px;
  margin: 10px;
  background-color: #007bff;
  border-radius: 20px;
  flex: 1;
}
