* {
  /* box-sizing: border-box;
  border: 2px solid red; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 10px;
}

.header {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
  width: max-content;
}
